* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Light Mode Colors */
  --background-images: url(/images/3187494.jpg);
  --navbar-light-background-color: #ea8426;
  --navbar-light-color: #050a30;
  --searchBar-light-box-shadow: #caeea6;
  --text-light-color: #000;

  /* Dark Mode Colors */
  --background-dark-images: url(/images/1482490.jpg);
  --navbar-dark-background-color: #0e090f;
  --navbar-dark-color: #04ab49;
  --searchBar-dark-box-shadow: #fc82b1;
  --text-dark-color: #fff;
}

[color-scheme="dark"] {
  --background-image: var(--background-dark-images);
  --navbar-background-color: var(--navbar-dark-background-color);
  --navbar-color: var(--navbar-dark-color);
  --searchBar-box-shadow: var(--searchBar-dark-box-shadow);
  --text-color: var(--text-dark-color);
}

[color-scheme="light"] {
  --background-image: var(--background-images);
  --navbar-background-color: var(--navbar-light-background-color);
  --navbar-color: var(--navbar-light-color);
  --searchBar-box-shadow: var(--searchBar-light-box-shadow);
  --text-color: var(var(--text-light-color));
}

body {
  background-image: var(--background-image);
  background-repeat: repeat;

  background-size: cover;
  font-family: "Kanit", sans-serif;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*--------------------------------------------------------- Navbar ------------------------------------------------- */

/* Left Side */
.navbar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--navbar-background-color);
  font-weight: 600;
  letter-spacing: 2px;
  /* text-shadow: 0px 0px 5px #b4ff3b; */
  font-size: 30px;
  font-family: cursive;
  padding: 0 10px;
}

.navbar-brand {
  align-items: center;
  gap: 10px;
}

.navbar-brand a {
  text-decoration: none;
  color: var(--navbar-color);
}

/* Right Side */
.logo {
  width: 25%;
  min-width: 45px;
  border-radius: 50px;
}

.favAndTheme-btn {
  align-items: center;
  gap: 10px;
}

.link-to-different-page {
  justify-content: center;
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  padding: 10px;
  background-color: var(--navbar-color);
  border-radius: 3px;
  color: #ffffff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

#theme-btn {
  width: 40px;
}

#theme-btn i {
  font-size: 20px;
}

.fav-btn {
  font-size: 16px;
  cursor: pointer;
  width: 130px;
  border-radius: 20px;
}

.fav-icon {
  color: 1fff;
}

.bg-right-side-img {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 90%;
  /* width: auto; */
  filter: blur(2px);
}

/*---------------------------------------------------- Search Bar and Results---------------------------------------- */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.search-icon-container {
  background: var(--navbar-background-color);
  box-shadow: 0px 0px 7px 0px var(--searchBar-box-shadow);
  color: #fff;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 50px;
  border-radius: 10px 0 0 10px;
}

.searchBar-items {
  min-width: 40%;
}

#search-bar {
  background: var(--navbar-background-color);
  color: #fff;
  min-width: 550px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-left: 5px solid var(--navbar-color);
  box-shadow: 0px 0px 7px 0px var(--searchBar-box-shadow);
  border-radius: 0 10px 10px 0;
  outline: none;
  padding: 10px;
  letter-spacing: 2px;
  margin-top: 50px;
  z-index: 1;
}

input::placeholder {
  color: #fff;
  font-size: 20px;
}

.img-info {
  gap: 10px;
}

.img-info img {
  width: 65px;
}

#search-results {
  min-width: 435px;
  /* height: 500px; */
  margin-top: 30px;
  list-style: none;
  z-index: 2;
  backdrop-filter: blur(4px);
  /* overflow-y: scroll; */
}

#search-results li {
  background: rgba(56, 56, 56, 0.6);
  height: 100px;
  color: white;
  width: 100%;
}

#search-results li .hero-name {
  transition: all 0.2s ease;
  cursor: pointer;
}

#search-results li:hover .hero-name {
  color: red;
}

.single-search-result {
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  width: inherit;
}

.character-info {
  text-decoration: none;
  color: white;
}

.hero-info {
  display: flex;
  align-items: center;
}

.hero-name {
  /* cursor: url(../images/thanos.png),auto !important; */
  font-size: 26px;
}

.buttons {
  gap: 5px;
  padding: 0 10px;
}

/* ----------------------------------------------Toast for notification--------------------------------------------------*/
.fav-toast,
.remove-toast {
  position: absolute;
  bottom: 100px;
  font-size: 24px;
  width: 350px;
  color: white;
  letter-spacing: 1px;
  padding: 10px 20px;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

.fav-toast[data-visiblity="show"],
.remove-toast[data-visiblity="show"] {
  display: block;
}

.fav-toast[data-visiblity="hide"],
.remove-toast[data-visiblity="hide"] {
  display: none;
}

.fav-toast {
  background-color: #20b130;
  box-shadow: 0px 0px 3px 3px white;
}

.remove-toast {
  background-color: hsl(40, 100%, 61%);
  box-shadow: 0px 0px 3px 3px white;
}

/* ------------------------------------------------Media Queries for different screen sizes ----------------------------- */

@media screen and (max-width: 576px) {
  #search-bar {
    min-width: 435px;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    /* height: 30%; */
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
  }

  .navbar-brand span {
    margin-top: -35px;
  }

  .logo {
    width: 30%;
    min-width: 45px;
  }
}
